* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: #fff;
}

main {
    background-color: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 500px;
    margin: 0 auto;
}

input, 
.start-btn {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
    width: 150px;
}

input:focus {
    outline: none;
    box-shadow: 0 0 0 2px hsl(213, 90%, 70%);
}

.guessField {
    border: 2px solid #333;
    background-color: #fff;
    border-radius: 0.25rem;
    padding: 0.4rem 0.75rem;
}

.guessSubmit, 
.start-btn {
    background-color: lavender;
    color: #333;
    width: fit-content;
    padding: 0.4rem 0.2rem;
    border-radius: 0.25rem;
    border: 2px solid #333;
    cursor: pointer;
}

.start-btn:focus,
.guessSubmit:focus {
    outline: none;
    box-shadow: 0 0 0 2px black;
}

.start-btn {
    display: none;
    margin-top: 1rem;
}

.lastResult {
    color: #fff;
    padding: 3px;
}